POSTGRES_USER=vulnai
POSTGRES_PASS=
POSTGRES_DB=vulnai_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASS}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
NVD_API_KEY=